body, html, #root {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .App {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    max-width: 300px;
  }
}
